body { background-color: white; }
ul, .images{
	background-color: grey;
	margin: 0 auto 1em;
	width:	80%;
}
li, img{
	display: inline-block;
	white-space: none;
	min-height: 2rem;
	width: 25%;

}
li:nth-child(odd) { background-color: lightgrey; }